:root {
  --magic-value: 42px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

/* #canvas {
border: 1px solid grey;
background: lightgrey;
} */
#board {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 2;
}
#controls {
  background-color: gold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  height: 100dvh;
}

.lbl {
  margin-top: 1rem;
}
.inp {
  width: 120px;
  font-size: x-large;
  text-align: center;
}
.rng {
  width: 120px;
}
.btn {
  border: 1px solid darkblue;
}
.btn:hover {
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 3px 3px darkgrey;
}
.btn:active {
  border: 2px solid black;
  box-shadow: 0px 0px darkgrey;
}

.big-button {
  font-size: x-large;
  width: 120px;
  height: 50px;
  margin-top: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.small-button {
  font-size: medium;
  width: 100px;
  height: 30px;
  margin-top: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.board-info {
  background-color: snow;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: var(--magic-value);
}
.info-item {
  align-self: center;
}

.control-block {
  background-color: beige;
  display: flex;
  flex-direction: column;
  margin-top: var(--magic-value);
}
.board-setup {
  display: flex;
  flex-direction: column;
}
/* .board-setup input {
  width: 120px;
  font-size: x-large;
} */
/* .board-setup button {
  font-size: x-large;
  width: 120px;
  height: 50px;
  margin-top: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
} */

.generation {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.text-val {
  font-weight: bold;
  color: navy;
}

.start {
  margin-top: 3rem;
}

.ready {
  background-color: green;
  color: azure;
  border-radius: 10px;
  border: 0px;
}
.ready:hover {
  background-color: lightgreen;
  color: black;
}

.pause {
  background-color: orange;
  color: azure;
  border-radius: 10px;
  border: 0px;
}
.pause:hover {
  background-color: rgb(248, 199, 35);
  color: black;
  cursor: pointer;
}

.logger {
  background-color: beige;
  /* border: 1px solid grey; */
  height: 200px;
  max-height: 200px;
  width: 100%S;
  overflow: auto;
  font-size: small;
}
.canvas {
  display: flexbox;
  padding: var(--magic-value);
  background-color: lightgrey;
  height: 100%;
}
p {
  padding: 4px;
}
